Source: ros-groovy-openhrp3
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 7.0.50~), collada-dom-dev, doxygen, f2c, libatlas-base-dev, libboost1.46-all-dev, libeigen3-dev, libf2c2, libf2c2-dev, libjpeg62-dev, libpng12-dev, ros-groovy-catkin, ros-groovy-openrtm-aist, ros-groovy-openrtm-aist-python, subversion
Homepage: https://openrtp.jp/svn/hrg/openhrp/3.1/trunk/
Standards-Version: 3.9.2

Package: ros-groovy-openhrp3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, collada-dom-dev, f2c, libatlas-base-dev, libboost1.46-all-dev, libeigen3-dev, libf2c2, libf2c2-dev, libjpeg62-dev, libpng12-dev, ros-groovy-openrtm-aist, ros-groovy-openrtm-aist-python
Description: This package represents OpenHRP3. Although being ROS-agnostic by itself, you can use this via ROS together with the packages in rtmros_common that bridge between two framework. OpenHRP3 (Open Architecture Human-centered Robotics Platform version 3) is an integrated software platform for robot simulations and software developments. It allows the users to inspect an original robot model and control program by dynamics simulation. In addition, OpenHRP3 provides various software components and calculation libraries that can be used for robotics related software developments (excerpts from here). Note the its original development and maintainance is happening in undisclosed repository. The URLs of the development repository and the issue tracker URLs shown is a port to rtm-ros-robotics project. Real version number, 3.1.4, is kept back until this discussion (http://code.google.com/p/rtm-ros-robotics/issues/detail?id=159) resolves.
